@{
    ViewData["Title"] = "Categoria do Sorteio";
    Layout = "_LayoutAcessoInterno";

    @model IEnumerable<Sorteio.Domain.Models.EntityDomain.CategoriaSorteio>;
}

<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="title">Lista de Categorias</h2>
                </div>
            </div>
            <div class="col-md-12 text-center">
                <button onclick="AbrirModalNovaCategoriaSorteio()" class="btn btn-outline-danger">Nova Categoria</button>
            </div>
            <table class="table table-hover table-responsive-lg" id="datatableListaCategorias">
                <thead class="bg-light">
                    <tr>
                        <th scope="col">Categoria</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.nome</td>
                            <td>
                                <a class='btn btn-sm btn-dark text-light' onclick="Editar(this, '@item.id_categoria_sorteio')"><i class='fas fa-edit'></i></a> 
                                <a class='btn btn-sm btn-danger' onclick="ConfirmarExclusao('@item.id_categoria_sorteio', '@item.nome')"><i class='fas fa-trash'></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal Excluir Categoria -->
<div class="modal fade" id="modalFinalizarSorteio" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pt-0">
                <input type="hidden" id="idCategoriaExclusaoSelecionada"/>
                <h5 class="title m-0 text-center">Excluir Categoria</h5>
                <p class="text-center">Tem certeza que deseja excluir a categoria <text id="nomeCategoriaExclusao" class="font-weight-bold"></text>?</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal">Fechar</button> &#160;
                <button onclick="ExcluirCategoria()" type="button" class="btn btn-success btn-sm">Confirmar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Nova Categoria -->
<div class="modal fade" id="modalNovaCategoria" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pt-0">
                <input type="hidden" id="idCategoriaSorteioSelecionado" />
                <h5 class="title m-0 text-center"><text id="tipo_modal"></text> Categoria</h5>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="nomeCategoria">Nome da Categoria</label>
                            <input id="nomeCategoria" name="nomeCategoria" type="text" class="form-control" placeholder="Minha categoria">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-dark btn-sm" data-dismiss="modal">Fechar</button> &#160;
                <button onclick="CadastrarCategoria()" type="button" class="btn btn-success btn-sm">Confirmar</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Pages/CategoriaSorteio/Index.js" type="text/javascript" asp-append-version="true"></script>
<script src="~/js/Pages/CategoriaSorteio/Criar.js" type="text/javascript" asp-append-version="true"></script>
<script src="~/js/Pages/CategoriaSorteio/Editar.js" type="text/javascript" asp-append-version="true"></script>
<script src="~/js/Pages/CategoriaSorteio/Excluir.js" type="text/javascript" asp-append-version="true"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>