@{
    Layout = "_LayoutSorteio";
    ViewData["Title"] = "Política de Privacidade";
}

<section id="politica_de_privacidade" class="telas_politicas espacamento-sessao-top espacamento-sessao-botton">
    <div class="container">
        <h2 class="title">Política de Privacidade</h2>

    </div>
</section>

<script src="~/js/Pages/Home/Index.js" asp-append-version="true" type="text/javascript"></script>